NEXTJS_ENV=development

NEXT_PUBLIC_APP_NAME="LeetCode for Interviews"

# NextAuth
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# LLM
GEMINI_API_KEY=""
LLM_PROVIDER="openai"
OPENAI_API_KEY=""
OPENAI_MODEL="google_genai.gemini-2.5-flash"
OPENAI_BASE_URL=""
ANTHROPIC_API_KEY=""
CLAUDE_MODEL="claude-opus-4-6"
CLAUDE_BASE_URL=""

# ElevenLabs
ELEVENLABS_API_KEY=""
ELEVENLABS_VOICE_ID=""

# MongoDB
MONGODB_URI=""
MONGODB_DB_NAME="leetcode-for-interviews"

# LiveAvatar (HeyGen)
HEYGEN_API_KEY=""
